

.container {
	display: flex;
    justify-content: center;
	.output {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		padding: 30px;
		background: #fff;
		box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		margin-bottom: 20px;
		margin-top: 30px;
        margin-right: 20px;
        
        .instructions, a {
            font-family: Avenir;
        }

	}
	.sig-form-container {
		display: flex;
		flex-direction: column;
		width: 40%;
		justify-content: start;
		align-items: center;
		padding: 30px;
		background: #fff;
		box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		margin-bottom: 20px;
		margin-top: 30px;
		margin-right: 20px;
		label {
			margin-right: auto;
			margin-bottom: 5px;
			margin-left: 20px;
			font-family: Avenir;
			font-size: 16px;
			color: #555;
			text-transform: capitalize;
			margin-bottom: 5px;
		}
		input {
            font-family: Avenir;
			width: 90%;
			margin-bottom: 10px;
			outline: none;
			border: none;
			box-shadow: none;
			font-size: 14px;
			line-height: 50px;
			background: #fafafa;
			box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
			border-radius: 5px;
			padding: 0 20px;
			font-size: 16px;
			color: #666;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			&::placeholder {
				color: #666;
				opacity: 1;
			}
		}
	}
}
