.sig-card {
    padding: 10px;
    background-color: white;
    box-shadow: inset 0px 1px 3px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.sig-container {
    display: flex;
    color: rgb(74, 74, 74);
    font-family: sans-serif;
    margin-bottom: 30px;

    table {
        border-collapse: collapse;
    }

    /* And this to your table's `td` elements. */
    td {
        padding: 0;
        margin: 0;
    }

    p {
        margin: 0;
        display: flex;
        line-height: 1;
    }

    .sig-text {
        margin-left: 5px;
        padding: 5px;

        p:not(:last-child) {
            margin-bottom: 3px;
        }

        .name {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 0px !important;
        }
        .position {
            font-size: 11px;
        }
        .email {
            font-size: 11px;
            span {
                margin-right: 3px;
            }
        }
        .phone {
            font-size: 11px;
            span {
                margin-left: 3px;
            }
        }
        .divide {
            border-top: 3px solid  rgb(67, 67, 67);
            width: 50px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .slogan {
            letter-spacing: -.5px;
            font-weight: 700;
            font-size: 12px;
            transform: scale(1, 1.2);
        }

        .email-container {
            display: flex;
        }
    }

    .dt-logo {
        background-color: rgb(242, 97, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 85px;
        max-width: 85px;
    }

}

.page-container {
    width: 100%;

}